/* #app {
    margin: 2rem auto;
    max-width: 90%;
    min-height: 75vh;
    width: 1000px;
    text-align: center;
  }
  .header {
    margin: 2rem auto;
    max-width: 90%;
    width: 1000px;
  }
  .nav-list {
    display: flex;
    justify-content: space-evenly;
  }
  .footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    max-width: 90%;
    width: 900px;
  }
  .social-list {
    display: flex;
    justify-content: space-around;
    width: 50%;
  } */
* {    
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin-top: 3em;
}

p {
  padding-top: 1.5em;
}

.header,
.footer,
#app {
  margin: 0 auto;
  max-width: 800px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.header {
  padding: 1.618em 0;
  padding-left: 1.618em;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  overflow-x: hidden;
  padding-top: 60px;
}

.nav-list{
  display: flex;
  position: relative;
  
}

.nav-list li {
  display: flex;
  justify-content: center;
  margin: 3px;
  padding: 0.309em 2em;
}

section {
  margin: 1em 0;
  min-height: 20em;
  padding-top: 3em;
}

section > p {
  margin: 1em 0;
}

section ul {
  padding-left: 1.5em;
}

section ol {
  padding-left: 1.5em;
}

.portfolioPicture {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  height: auto;
  margin-top: 10px;
  width: 90%;
}

.aboutMe {
  display: flex;
  justify-content: space-between;
}

#contactInformation {
  text-align: center;
}

.contact__information_list {
  padding-bottom: 1.618em;
}

.fa {
  font-size: 13px;
  padding: 10px;
  text-align: center;
  width: 2rem;
}

.fa-linkedin {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.fa-github {
  position: fixed;
  bottom: 0;
  right: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.projects__title {
  text-align: center;
}

#projects {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.projects__column_figure {
  text-align: center;
}

#projects article {
  padding: 1em;
}

#projects article img {
  height: auto;
  margin-top: 10px;
  width: 100%;
}

  .projects__column_button {
    bottom: 0.5rem;
    margin: 0px;
    position: relative;
  }

  .projects__column_figure:hover .projects__column_button {
    bottom: 2.5rem;
  }

  .projects__column {
    padding-left: 0.5rem;
  }

  .projects__column_title {
    text-align: center;
  }

  .projects__column_image {
    text-align: center;
    height: auto;
    max-width: 100%;
  }

  footer {
    margin-bottom: 1em;
    margin-top: 2em;
    padding: 1em 0;
    text-align: center;
  }

  @media only screen and (max-width: 767px) {
    header {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    main {
      display: flex;
      flex-direction: column;
    }
  
    .profile {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  
    #myProjects {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  
    .footer {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }